
.header {
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 10px 20px;
    justify-content: center;
    position: relative;
    min-height: 100px;
    background: linear-gradient(to right, #c4e3ff, #6ec3d9);

    &_left {
        display: flex;
        position: absolute;
        left: 20px;
    }

    &_center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    &_right {
        position: absolute;
        right: 20px;
    }
}



