
.menu {
    display: flex;
    margin: 0 auto;
}

.headerLink {
    font-size: 2.8rem;
    color: #333;
    text-decoration: none;
    transition: color 0.2s ease;
    margin: 20px;
  
    &:hover {
      color: #007bff;
    }
  
    &.active {
      font-weight: bold;
      color: #0056b3;
    }
  }
  
