
.home_title {
    color: white;
}

.portrait_container {
    width: 500px;
    height: 500px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    position: relative;
    background-size: 300% 300%;
    padding: 4px;
}

.home_portrait {
    width: 400px;
    height: 400px;
    display: flex;
    margin: 0 auto;
    background: white;
}