
.title {
    color: red;
}

.homeColumns {
    display: flex;
    justify-content: space-between;
}

.banner {
    height: 800px;
    background: #f0f8ff;
    text-align: center;
    padding: none;
}

.box1 {
    width: 100%;;
}
