
.home_title {
    color: white;
}

.portrait_container {
    width: 500px;
    height: 500px;
    border: 2px solid white;
    border-radius: 10%;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.home_portrait {
    width: 400px;
    height: 400px;
    display: flex;
    margin: 0 auto;
}