
.grid {
    &_container {
        display: flex;
        margin: 20px auto;
        justify-content: space-evenly;
    }

    &_content {
        display: flex;
        margin: 0 auto;
        min-height: 200px; 
        min-width: 200px;
        background-color: blue;

        &__title {
            display: flex;
            margin: 20px auto;
            color: white;
        }
     
    }
}
