
.container {
    position: relative;
    height: 150vh; // ensures scrolling space
    display: flex;
    justify-content: right;
    align-items: right;
  }

  .parallaxLayers {
    display: flex;
    position: relative;
    height: 400px;
  }

  .blueBoxesContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .box2,
  .box3 {
    position: absolute;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    transition: transform 0.1s ease-out;
  }
  
  .box1 {
    top: 100px;
  }
  
  .box2 {
    top: 150px;
  }
  
  .box3 {
    top: 200px;
  }
  